@media print, (max-width: 1187px) {


    header {
        padding-bottom: 60px;
    }

    header .mob_menu_btn {
        display: flex;
        order: 1;
    }

    header .menu {
        position: fixed;
        z-index: 107;
        top: 85px;
        left: 0;
        display: flex;
        overflow: auto;
        width: 100%;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 30px 20px;
        transition: transform .3s linear;
        transform: translateX(-100%);
        background: #2A292F;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    header .menu.show {
        transform: translateX(0);
    }
    header .close_btn {
        display: flex;
    }
    .menu_open header .mob_menu_btn {
        display: none;
    }
    header .menu .item {
        width: 100%;
        margin-right: 0;
    }
    header .menu .item + .item {
        margin-left: 0;
    }
    header .menu .item > a {
        display: block;
        height: auto;
        padding-bottom: 15px;
        text-align: center;
        color: #fff;
        border-bottom: none;
    }  
  
    .menu_open header {
        background: #2A292F;
    }
    header .close_btn {
        display: none;
    }
    .menu_open header .close_btn {
        display: block;
        top: 8px;
        right: 30px;
    }
    .header_contacts-mob {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .header_contacts {
        display: none;
    }
    header .menu .item {
        margin-right: 0px;
    }
    .header_contacts-phone {
        margin-top: 15px;
    }
    .header_contacts-email {
        margin-top: 15px;
    }

    .modal {
        padding: 40px;
    }
    .is-compact .fancybox__content>.f-button.is-close-btn {
        top: 40px;
        right: 40px;
    }
    .service_title {
        margin-bottom: 24px;
    }
    .service_text {
        margin-bottom: 20px;
    }
    .service_description {
        margin-bottom: 15px;
    }
    .step_items {
        flex-wrap: wrap;
    }
    .quote {
        padding: 24px;
    }
    .quote_btn {
        right: 31px;
    }
    .page header .item a img {
        display: none;
    }
    .text-block img {
        width: 50%;
        height: auto;
    }
    .callback_img {
        width: 530px;
        height: 380px;
    }
    .callback_form {
        width: calc(100% - 550px);
    }
    .callback_wrap {
        gap: 20px;
    }
    .partners_wrap {
        flex-direction: column;
    }
    .partners_items {
        width: 100%;
        gap: 20px;
    }
    .partners_items-bottom {
        gap: 20px;
    }
    .partners_items-top {
        gap: 20px;
    }
    .partners_items-top .partners_item {
        width: calc(100% / 3 - 13px);
    }


   



}
